<!--<script type="text/ng-template" id="newentry.html">-->
    <div close="cancel()">
        <div class="modal-header">
            <h3>{{'NEWLINKTITLE' | translate}}</h3>
            <h4>{{'NEWLINKSUBTITLE' | translate}}</h4>
        </div>
        <form class="form-horizontal" role="form" name="newEntryForm">
            <div class="modal-body">
                <div class="form-group">
                    <input type="text" class="form-control" name="entryTitle" placeholder="{{'DUMMYLINKTITLE' | translate}}" ng-model="entryTitle">
                </div>
                <div class="form-group">
                    <input type="url" class="form-control" name="entryUrl" placeholder="{{'DUMMYLINKURL' | translate}}" ng-model="entryUrl">
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success glyphicon glyphicon-cloud-upload" ng-disabled="entryTitle.length === 0 || entryUrl.length === 0 || !newEntryForm.entryUrl.$valid" ng-click="ok()"> {{'OK' | translate}}</button>
                <button class="btn glyphicon glyphicon-remove" ng-click="cancel()"> {{'CANCEL' | translate}}</button>
            </div>
        </form>
    </div>
<!--</script>-->