<!--<script type="text/ng-template" id="vote.html">-->
    <div class="vote upvote glyphicon glyphicon-thumbs-up"
         data-ng-class="{votedisabled: !redditApp.dataservice.currentUser.isAuthenticated}"
         data-ng-click="!redditApp.dataservice.currentUser.isAuthenticated || vm.voteEntry(entry, 1)">
    </div>
    <div class="totalvote">{{entry.rating.value}}</div>
    <div class="vote downvote glyphicon glyphicon-thumbs-down"
         data-ng-class="{votedisabled: !redditApp.dataservice.currentUser.isAuthenticated}"
         data-ng-click="!redditApp.dataservice.currentUser.isAuthenticated || vm.voteEntry(entry, -1)"></div>
<!--</script>-->
