<!--<script type="text/ng-template" id="accountregister.html">-->
    <div data-ng-controller="Accounts as vmRegisterAccount">
        <form class="form-horizontal" role="form">
            <div close="cancel()">
                <div class="modal-header">
                    <h3>{{'REGISTER' | translate}}</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control" id="inputUserName" placeholder="{{'USER' |translate}}" ng-model="vmRegisterAccount.formInfo.userName" ng-keydown="vmRegisterAccount.findUser()">
                        <div class="alert alert-warning" role="alert" ng-show="vmRegisterAccount.UserExist" ng-model="vmRegisterAccount.UserExist">
                            <span class="sr-only">Error:</span>
                            {{'USEREXIST' |translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword1" placeholder="{{'PW' |translate}}" ng-model="vmRegisterAccount.formInfo.password1">

                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="inputPassword2" placeholder="{{'REPEATPW' |translate}}" ng-model="vmRegisterAccount.formInfo.password2">
                        <div class="alert alert-warning" role="alert" ng-show=" vmRegisterAccount.formInfo.password1 !== vmRegisterAccount.formInfo.password2">
                            <span class="sr-only">Error:</span>
                            {{'PWDNOTEQUAL' |translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-click="vmRegisterAccount.registerUser().then(ok())"
                            ng-disabled="vmRegisterAccount.formInfo.userName.length === 0
                                || vmRegisterAccount.formInfo.password1.length === 0
                                || vmRegisterAccount.formInfo.password2.length === 0
                                || vmRegisterAccount.formInfo.password1 !== vmRegisterAccount.formInfo.password2
                                || vmRegisterAccount.UserExist">
                        {{'REGISTER' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
<!--</script>-->
