
.entry {
    padding-bottom: 20px;
    clear: both;
}

.entryvote {
    clear: both;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.vote {
}

.vote:hover {
    cursor: pointer;
}


.showhidecomments:hover {
    cursor: pointer;    
}


.comment {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}


.commentdetails {
    float: left;
}

.commentallcomments {
   clear: both;
}

.commentvote {
    float: left;
}

.upvote {
    color: green;
}

.downvote {
    color: red;
}

.entrytitle {
    font-size: 20px;
}