<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="/Libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="client.css" rel="stylesheet" />

    <script src="/Scripts/jquery-2.1.3.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>
    <script src="/Scripts/angular-translate.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/toastr.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/moment-timezone.min.js"></script>
    <script src="/Scripts/moment-with-locales.min.js"></script>
    <script src="/Libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/ngplus-overlay.js"></script>
    <script src="Scripts/underscore-min.js"></script>
    <script src="/app/blocks/logger/logger.module.js"></script>
    <script src="/app/blocks/logger/logger.js"></script>


    <script src="/app/blocks/exception/exception.module.js"></script>
    <script src="/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/app/blocks/exception/exception.js"></script>
    <script src="/app/blocks/router/router.module.js"></script>
    <script src="/app/blocks/router/routehelper.js"></script>

    <script src="/app/app.module.js"></script>
    <script src="/app/app.filters.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/app.js"></script>

    <script src="/app/core/core.module.js"></script>
    <script src="/app/core/constants.js"></script>
    <script src="/app/core/config.js"></script>
    <script src="/app/core/dataservice.js"></script>

    <script src="/app/entries/entries.module.js"></script>
    <script src="/app/entries/entries.js"></script>
    <script src="/app/entries/comments.module.js"></script>
    <script src="/app/entries/comments.js"></script>

    <script src="app/accounts/accounts.module.js"></script>
    <script src="app/accounts/accounts.js"></script>

    <script src="/socket.io/socket.io.js"></script>
</head>
<body data-ng-app="app" data-ng-controller="App as redditApp">
<div data-ng-controller="Entries as vm">
    <!--menu-->
    <div class="navbar navbar-default navbar-static-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://www.reddit.com/" target="_blank">{{ 'TITLE' | translate }}</a>
            </div>

            <div class="navbar-collapse collapse">
                <div data-ng-controller="Accounts as vmAccounts">
                    <ul class="nav navbar-nav">
                        <li><a href="#" data-ng-click="vm.open()" ng-show="redditApp.dataservice.currentUser.isAuthenticated">{{'NEWLINK' | translate}}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'LANGUAGE' | translate}}<b class="caret"></b></a>
                            <ul class="dropdown-menu" data-ng-controller="LangCtrl">
                                <li><a ng-click="changeLang('de_DE')">{{'GERMAN' | translate}}</a></li>
                                <li><a ng-click="changeLang('en_US')">{{'ENGLISH' | translate}}</a></li>
                            </ul>
                        </li>
                        <li><a href="#" data-ng-click="redditApp.showAboutDialog()">{{'ABOUT' | translate}}</a></li>
                        <li><a href="#" data-ng-click="vmAccounts.showAccountRegisterDialog()" ng-hide="redditApp.dataservice.currentUser.isAuthenticated">{{'REGISTER' | translate}}</a></li>
                        <li><a href="#" data-ng-click="vmAccounts.showLoginDialog()" ng-hide="redditApp.dataservice.currentUser.isAuthenticated">{{'LOGIN' | translate}}</a></li>
                        <li><a href="#" data-ng-click="vmAccounts.logoutUser()" ng-show="redditApp.dataservice.currentUser.isAuthenticated">{{'LOGOUT' | translate}}</a></li>
                        <li>
                            <div>
                                <p class="navbar-text navbar-right" ng-show="redditApp.dataservice.currentUser.isAuthenticated">{{'GREETING' | translate}} {{redditApp.dataservice.currentUser.name}}</p>
                            </div>
                        </li>
</ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <!-- core -->
        <div class="entry" data-ng-repeat="entry in vm.entries | orderBy:['-rating.value']" data-ng-animate="'entrymation'">
            <div class="entryvote" data-ng-include="'app/entries/vote.html'" >
            </div>
            <div class="entrydetails">
                <div class="entrytitle">
                    <a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
                </div>
                <div class="entrysubmitdetails">{{'SUBMITTED' | translate}} {{redditApp.fromNow(entry.createTime)}} {{'BY' | translate}} {{entry.author}}</div>
                <div class="entryallcomments">
                    <a class="" data-ng-click="entry.showComments = !entry.showComments">
                        <div class="showhidecomments glyphicon glyphicon-comment">
                            <span>{{entry.comments.length}} {{'COMMENTS' | translate}}</span>
                        </div>
                    </a>
                    <div data-ng-controller="Comments as vmEntryComments">
                        <div ng-init="entry.replyTemplate='app/entries/empty.html'">
                        </div>

                        <a class="" ng-show="redditApp.dataservice.currentUser.isAuthenticated" data-ng-click="entry.replyTemplate='app/entries/entrycommenteditor.html'">
                            <div class="showhidecommenteditor glyphicon glyphicon-bullhorn">
                                <span> {{'REPLY' | translate}}</span>
                            </div>
                        </a>
                        <div data-ng-include="entry.replyTemplate">
                        </div>
                    </div>
                </div>

                <div class="comments">
                    <div class="comment" data-ng-repeat="comment in entry.comments | orderBy:'-rating.value'"
                         data-ng-show="entry.showComments"
                         data-ng-include="'app/entries/comment.html'"
                         data-ng-controller="Comments as vmComments">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>
