<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="/Libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="client.css" rel="stylesheet" />

    <script src="/Scripts/jquery-2.1.3.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-route.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>
    <script src="/Scripts/angular-translate.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="/Scripts/toastr.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/moment-timezone.min.js"></script>
    <script src="/Scripts/moment-with-locales.min.js"></script>
    <script src="/Libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Scripts/ngplus-overlay.js"></script>

    <script src="/app/blocks/logger/logger.module.js"></script>
    <script src="/app/blocks/logger/logger.js"></script>


    <script src="/app/blocks/exception/exception.module.js"></script>
    <script src="/app/blocks/exception/exception-handler.provider.js"></script>
    <script src="/app/blocks/exception/exception.js"></script>
    <script src="/app/blocks/router/router.module.js"></script>
    <script src="/app/blocks/router/routehelper.js"></script>

    <script src="/app/app.module.js"></script>
    <script src="/app/app.filters.js"></script>
    <script src="/app/app.config.js"></script>
    <script src="/app/app.js"></script>



    <script src="/app/core/core.module.js"></script>
    <script src="/app/core/constants.js"></script>
    <script src="/app/core/config.js"></script>
    <script src="/app/core/dataservice.js"></script>

    <script src="/app/entries/entries.module.js"></script>
    <script src="/app/entries/entries.js"></script>
    <script src="/app/entries/comments.module.js"></script>
    <script src="/app/entries/comments.js"></script>

    <script src="app/accounts/accounts.module.js"></script>
    <script src="app/accounts/accounts.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <!--<script>
        var socket = io.connect('http://localhost:4730');
        socket.on('message', function (data) {
            //console.log(data);
            //socket.emit('my other event', { my: 'data' });
        });
    </script>-->

</head>
<body data-ng-app="app" data-ng-controller="App as redditApp">
<div data-ng-controller="Entries as vm">
    <!--menu-->
    <div class="navbar navbar-default navbar-static-top navbar-custom" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ 'TITLE' | translate }}</a>
            </div>

            <div class="navbar-collapse collapse">
                <div data-ng-controller="Accounts as vmAccounts">
                    <ul class="nav navbar-nav">
                        <li><a href="#" data-ng-click="vm.open()" ng-show="redditApp.dataservice.currentUser.isAuthenticated">{{'NEWLINK' | translate}}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{'LANGUAGE' | translate}}<b class="caret"></b></a>
                            <ul class="dropdown-menu" data-ng-controller="LangCtrl">
                                <li><a ng-click="changeLang('de_DE')">{{'GERMAN' | translate}}</a></li>
                                <li><a ng-click="changeLang('en_US')">{{'ENGLISH' | translate}}</a></li>
                            </ul>
                        </li>
                        <li><a href="#" data-ng-click="redditApp.showAboutDialog()">{{'ABOUT' | translate}}</a></li>
                        <li><a href="#" data-ng-click="vmAccounts.showAccountRegisterDialog()" ng-hide="redditApp.dataservice.currentUser.isAuthenticated">{{'REGISTER' | translate}}</a></li>
                        <li><a href="#" data-ng-click="vmAccounts.showLoginDialog()" ng-hide="redditApp.dataservice.currentUser.isAuthenticated">{{'LOGIN' | translate}}</a></li>
                        <li><a href="#" data-ng-click="vmAccounts.logoutUser()" ng-show="redditApp.dataservice.currentUser.isAuthenticated">{{'LOGOUT' | translate}}</a></li>
                        <li>
                            <div>
                                <p class="navbar-text navbar-right" ng-show="redditApp.dataservice.currentUser.isAuthenticated">{{'GREETING' | translate}} {{redditApp.dataservice.currentUser.name}}</p>
                            </div>
                        </li>
</ul>
                </div>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <!-- core -->
        <div class="entry" data-ng-repeat="entry in vm.entries">
            <div class="entryvote" data-ng-include="'votetemplate.html'">
            </div>
            <div class="entrydetails">
                <div class="entrytitle">
                    <a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
                </div>
                <div class="entrysubmitdetails">{{'SUBMITTED' | translate}} {{entry.createTime | fromNow}} {{'BY' | translate}} {{entry.author}}</div>
                <div class="entryallcomments">
                    <a class="" data-ng-click="entry.showComments = !entry.showComments">
                        <div class="showhidecomments glyphicon glyphicon-comment">
                            <span>{{entry.comments.length}} {{'COMMENTS' | translate}}</span>
                        </div>
                    </a>
                    <div data-ng-controller="Comments as vmEntryComments">
                        <div ng-init="entry.replyTemplate='emptytemplate.html'">
                        </div>

                        <a class="" data-ng-click="entry.replyTemplate='entrycommenteditortemplate.html'">
                            <div class="showhidecommenteditor glyphicon glyphicon-bullhorn">
                                <span> {{'REPLY' | translate}}</span>
                            </div>
                        </a>
                        <div data-ng-include="entry.replyTemplate">
                        </div>
                    </div>
                </div>

                <div class="comments">
                    <div class="comment" data-ng-repeat="comment in entry.comments"
                         data-ng-show="entry.showComments"
                         data-ng-include="'commenttemplate.html'"
                         data-ng-controller="Comments as vmComments">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="newentry.html">
        <div close="cancel()">
            <div class="modal-header">
                <h3>{{'NEWLINKTITLE' | translate}}</h3>
                <h4>{{'NEWLINKSUBTITLE' | translate}}</h4>
            </div>
            <form class="form-horizontal" role="form" name="newEntryForm">
            <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" name="entryTitle" placeholder="{{'DUMMYLINKTITLE' | translate}}" ng-model="entryTitle">
                    </div>
                    <div class="form-group">
                        <input type="url" class="form-control" name="entryUrl" placeholder="{{'DUMMYLINKURL' | translate}}" ng-model="entryUrl">
                    </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-success glyphicon glyphicon-cloud-upload" ng-disabled="entryTitle.length === 0 || entryUrl.length === 0 || !newEntryForm.entryUrl.$valid" ng-click="ok()"> {{'OK' | translate}}</button>
                <button class="btn glyphicon glyphicon-remove" ng-click="cancel()"> {{'CANCEL' | translate}}</button>
            </div>
            </form>
        </div>
    </script>

<script type="text/ng-template" id="about.html">
        <div close="cancel()">
            <div class="modal-header">
                <h3>{{'ABOUT' | translate}}</h3>
                <h4>{{'ABOUTTEXT' | translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="aboutImageDiv">
                    <img class="aboutImage" src="content/About.jpg" />
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn glyphicon glyphicon-heart" ng-click="ok()"> {{'OK' | translate}}</button>
            </div>
        </div>
    </script>


<script type="text/ng-template" id="votetemplate.html">
    <div class="vote upvote glyphicon glyphicon-thumbs-up"
         data-ng-class="{votedisabled: !redditApp.dataservice.currentUser.isAuthenticated}"
         data-ng-click="!redditApp.dataservice.currentUser.isAuthenticated || vm.voteEntry(entry, 1)">
    </div>
        <div class="totalvote">{{entry.rating.value}}</div>
    <div class="vote downvote glyphicon glyphicon-thumbs-down"
         data-ng-class="{votedisabled: !redditApp.dataservice.currentUser.isAuthenticated}"
         data-ng-click="!redditApp.dataservice.currentUser.isAuthenticated || vm.voteEntry(entry, -1)"></div>
    </script>

<script type="text/ng-template" id="commenttemplate.html">
        <div class="commentvote">
            <div class="upvote glyphicon glyphicon-thumbs-up"
                 data-ng-class="{votedisabled: !redditApp.dataservice.currentUser.isAuthenticated}"
                 data-ng-click="!redditApp.dataservice.currentUser.isAuthenticated || vm.voteComment(comment, 1)">
            </div>
            <div class="totalvote">{{comment.rating.value}}</div>
            <div class="downvote glyphicon glyphicon-thumbs-down"
                 data-ng-class="{votedisabled: !redditApp.dataservice.currentUser.isAuthenticated}"
                 data-ng-click="!redditApp.dataservice.currentUser.isAuthenticated || vm.voteComment(comment, -1)">
            </div>
        </div>
        <div class="commentdetails">
            <div class="commenttext">{{comment.text}}</div>
            <div class="commentsubmitdetails">{{'SUBMITTED' | translate}} {{comment.createTime | fromNow}} {{'BY' | translate}} {{comment.author}}</div>
        </div>
        <div class="commentallcomments">
            <a class="" data-ng-click="comment.showComments = !comment.showComments">
                <div class="showhidecommentcomments glyphicon glyphicon-comment">
                    <span>{{comment.comments.length}} {{'COMMENTS' | translate}}</span>
                </div>
            </a>
            <div ng-init="comment.replyTemplate='emptytemplate.html'" />
            <a class="" data-ng-click="comment.replyTemplate='commenteditortemplate.html'">
                <div class="showhidecommentcommenteditor glyphicon glyphicon-bullhorn">
                    <span> {{'REPLY' | translate}}</span>
                </div>
            </a>
            <div data-ng-include="comment.replyTemplate">

            </div>
        </div>
        <div class="comment" data-ng-repeat="comment in comment.comments"
             data-ng-include="'commenttemplate.html'"
             data-ng-show="$parent.$parent.comment.showComments">
        </div>

    </script>

<script type="text/ng-template" id="commenteditortemplate.html">
        <div class="commentdialog">
            <form class="form-horizontal" role="form">
                <div class="form-group col-sm-4 commenttextarea">
                    <textarea class="form-control" maxlength="255" name="commentText" ng-model="vmComments.newComment"></textarea>
                </div>
                <div class="form-group col-sm-4 col-sm-offset-2">
                    <div class="buttondisplay pull-right">
                        <button class="btn" ng-disabled="vmComments.newComment.length===0" ng-click="vmComments.addNew(comment, comment.id, 'comment');comment.replyTemplate='emptytemplate.html'">{{'REPLY' | translate}}</button>
                        <button class="btn" ng-click="comment.replyTemplate='emptytemplate.html'">{{'CANCEL' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

<script type="text/ng-template" id="entrycommenteditortemplate.html">
        <div class="commentdialog">
            <form class="form-horizontal" role="form">
                <div class="form-group col-sm-4 commenttextarea">
                    <textarea class="form-control" maxlength="255" name="commentText" ng-model="vmEntryComments.newComment"></textarea>
                </div>
                <div class="form-group col-sm-4 clearfixed">
                    <div class="buttondisplay pull-right">
                        <button class="btn" ng-disabled="vmEntryComments.newComment.length===0" ng-click="vmEntryComments.addNew(entry, entry.id, 'entry');entry.replyTemplate='emptytemplate.html'">{{'REPLY' | translate}}</button>
                        <button class="btn" ng-click="entry.replyTemplate='emptytemplate.html'">{{'CANCEL' | translate}}</button>
                    </div>
                </div>
            </form>, entry.id, 'entry'
        </div>
    </script>

<script type="text/ng-template" id="emptytemplate.html">
    </script>

<script type="text/ng-template" id="accountregister.html">
        <div data-ng-controller="Accounts as vmRegisterAccount">
            <form class="form-horizontal" role="form">
                <div close="cancel()">
                    <div class="modal-header">
                        <h3>{{'REGISTER' | translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" id="inputUserName" placeholder="{{'USER' |translate}}" ng-model="vmRegisterAccount.formInfo.userName" ng-keydown="vmRegisterAccount.findUser()">
                            <div class="alert alert-warning" role="alert" ng-show="vmRegisterAccount.UserExist" ng-model="vmRegisterAccount.UserExist">
                                <span class="sr-only">Error:</span>
                               {{'USEREXIST' |translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword1" placeholder="{{'PW' |translate}}" ng-model="vmRegisterAccount.formInfo.password1">

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword2" placeholder="{{'REPEATPW' |translate}}" ng-model="vmRegisterAccount.formInfo.password2">
                            <div class="alert alert-warning" role="alert" ng-show=" vmRegisterAccount.formInfo.password1 !== vmRegisterAccount.formInfo.password2">
                                <span class="sr-only">Error:</span>
                                {{'PWDNOTEQUAL' |translate}}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-click="vmRegisterAccount.registerUser().then(ok())"
                                ng-disabled="vmRegisterAccount.formInfo.userName.length === 0
                                || vmRegisterAccount.formInfo.password1.length === 0
                                || vmRegisterAccount.formInfo.password2.length === 0
                                || vmRegisterAccount.formInfo.password1 !== vmRegisterAccount.formInfo.password2
                                || vmRegisterAccount.UserExist">
                            {{'REGISTER' | translate}}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </script>


<script type="text/ng-template" id="login.html">
        <div data-ng-controller="Accounts as vmLoginAccount">
            <form class="form-horizontal" role="form">
                <div close="cancel()">
                    <div class="modal-header">
                        <h3>{{'LOGIN' | translate}}</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input class="form-control" id="inputUserName" placeholder="{{'USER' |translate}}" ng-model="vmLoginAccount.userName">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="inputPassword" placeholder="{{'PW' |translate}}" ng-model="vmLoginAccount.password">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" ng-disabled="vmLoginAccount.userName.length === 0 || vmLoginAccount.password.length === 0" ng-click="vmLoginAccount.login().then(ok())">{{'LOGIN' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </script>

</body>
</html>
