<!DOCTYPE html>
<html>
<head>
    <script src="../../Scripts/angular.min.js"></script>
</head>

<body ng-app="myapp">

    <div ng-controller="MyController">
        <form>
            <input type="text" id="name" ng-model="register.name" placeholder="Username">
            <input type="password" id="password" ng-model="register.password" placeholder="Password">

            <button ng-click="register.submitTheForm()">Register</button>
        </form>

    </div>

    <script>


        angular.module("myapp", [])
           .controller("MyController", function ($scope, $http) {
               $scope.register = {};
               $scope.register.name = "";
               $scope.register.password = "";

               $scope.register.submitTheForm = function (item, event) {
                   console.log("--> Submitting form");
                   var dataObject = {
                       name: $scope.register.name,
                       password: $scope.register.password
                   };



                   var responsePromise = $http.post("http://localhost:4730/register", dataObject, {});
                   responsePromise.success(function (dataFromServer, status, headers, config) {
                       console.log(dataFromServer.data);
                   });
                   responsePromise.error(function (data, status, headers, config) {
                       alert("Submitting form failed!");
                   });
               }

           });
    </script>
</body>
</html>